<h1>Editing Informasi Berita Terkini</h1>

<%= render 'form', informasi_berita_terkini: @informasi_berita_terkini %>

<%= link_to 'Show', @informasi_berita_terkini %> |
<%= link_to 'Kembali', informasi_berita_terkini_index_path %>
