<%= bootstrap_form_for(@fungsi, local: true) do |form| %>
  <div class="card-body">
    <div class="field">
      <%= form.text_field :nama %>
    </div>
    <div class="actions">
      <%= form.submit "Membuat Fungsi", class: "btn btn-success" %>
    </div>
  </div>
<% end %>