<div class="card">
  <h1 class="card-header">Mengubah Fungsi</h1>
  <%= render 'form', fungsi: @fungsi %>
  <div class="btn-group" role="group" aria-label="tampilkan-kembali">
  	<%= link_to 'Tampilkan', @fungsi, :class => "btn btn-primary" %>
  	<%= link_to 'Kembali', fungsi_index_path, :class => "btn btn-secondary" %>
  </div>
</div>