<div class="card">
	<h1 class="card-header"><%= @fungsi.nama %></h1>
	<div class="btn-group" role="group" aria-label="tampilkan-kembali">
  	<%= link_to 'Edit', edit_fungsi_path(@fungsi), :class => "btn btn-primary" %>
  	<%= link_to 'Kembali', fungsi_index_path, :class => "btn btn-secondary" %>
  </div>
</div>