<div class="card">
  <h1 class="card-header">Laporan Kinerja Pegawai Bimkat Sumteng</h1>
  <%= render 'form', laporan_kinerja_pegawai_bimkat_sumteng: @laporan_kinerja_pegawai_bimkat_sumteng %>
  <%= link_to 'Kembali', laporan_kinerja_pegawai_bimkat_sumteng_index_path, :class => "btn btn-secondary" %>
</div>
