<%= render "partial/navigation" %>
<div class="card">
  <h1 class="card-header">Tekat Penyelenggara Pendidikan Agama Katolik</h1>
  <div class="card-body">
    <p class="card-text"><%= @tekat_pendakat %></p>
  </div>
</div>