<%= render "partial/navigation" %>
<div class="card">
  <h1 class="card-header">Visi dan Misi Kantor Kementerian Agama Kabupaten Sumba Tengah</h1>
  <div class="card-body">
    <p class="card-text"><%= @visi_misi_kantor %></p>
  </div>
</div>