<h1>New Data Keagamaan Katolik</h1>

<%= render 'form', data_keagamaan_katolik: @data_keagamaan_katolik %>
<br>
<%= link_to 'Kembali', data_keagamaan_katolik_index_path, :class => "btn btn-primary" %>
