<h1 class="card-header"><%= @data_pendidikan_agama_katolik.judul %></h1>

<div class="card-body">
	<p>
	  <strong>Tautan:</strong>
	  <%= @data_pendidikan_agama_katolik.tautan %>
	</p>
</div>

<%= link_to 'Edit', edit_data_pendidikan_agama_katolik_path(@data_pendidikan_agama_katolik) %> |
<%= link_to 'Kembali', data_pendidikan_agama_katolik_index_path %>
