<div class="card">
  <h1 class="card-header">Galeri Video</h1>
  <%= render 'form', galeri_video: @galeri_video %>
  <%= link_to 'Kembali', galeri_video_index_path, :class => "btn btn-primary" %>
</div>